html, body, :root {
  height: 100%;
  width: 100%;
  font-family: 'Exo', $base-font;
  background-color: $space;
  color: $white7;
}

body {
  background-image: url(../images/space.svg);
  background-size: cover;
  background-position: center center;
}

[contain], .contain, .container {
  width: 100%;
}

.list-button {
  background-color: $primary;
  color: white;
  font-weight: 600;
  margin: 1rem auto 1.5rem auto;
  flex: 0 0 auto;
  &.button:only-of-type { margin-left: auto; }
}
