html, body, :root {
  height: 100%;
  width: 100%;
  font-family: 'Exo', $base-font;
  background-color: $space;
  color: $white7;
}

body {
  background-image: url(../images/space.svg);
  background-size: cover;
  background-position: center center;
}
