$mobile-breakpoint:   69rem; // ~780px
$mobile:  "screen and (max-width: #{$mobile-breakpoint})";

$deepBlue: #222028;
$space: $deepBlue;

$primary: rgb(197, 83, 215);

$black: #1e1c26;
$black8: rgba($black, .7) !default;
$black5: rgba($black, .5) !default;
$black3: rgba($black, .25) !default;
$black1: rgba($black, .1) !default;

$white: #fff;
$white7: rgba($white, .75) !default;
$white5: rgba($white, .5) !default;
$white3: rgba($white, .3) !default;
$white1: rgba($white, .1) !default;
