@import 'vars';

.Capsule {
  color: $space;
  user-select: none;
  box-sizing: border-box;
  border-radius: 1000pt;
  min-width: 6rem;
  max-width: 100%;
  background-image: url(./capsule-arm-left.svg), url(./capsule-arm-right.svg), url(./capsule-body.svg);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: auto 100%, auto 100%, auto 100%;
  padding: 1em 3em;
  @media #{$mobile} {
    padding: 1em 1.5em;
  }

  .display {
    white-space: nowrap;
    @media #{$mobile} {
      white-space: normal;
    }

    h5, h6 {
      margin: 1pt;
      background: $space;
      padding: .5em 1.2em;
      border-radius: 1000pt;
      color: lighten($primary, 8%);
      text-shadow: 0 0 3pt $primary;
      box-shadow: 0 0 15pt 0 inset $primary;
      font-family: 'Press Start 2P', sans-serif;
      animation: shadowPulse 1.8s alternate infinite;
    }

    h5 { font-size: 1.1em }
    h6 { font-size: 1em }
  }

  .capsule-body {
    overflow: hidden;
    opacity: 0;
    width: 100%;
    max-width: 0;
    transition: max-width 1s ease-in-out, opacity .7s;
  }

  &.true { .capsule-body { max-width: none; opacity: 1; } }
}

@keyframes shadowPulse {
  from {
    text-shadow: 0 0 5pt $primary;
    box-shadow: 0 0 15pt 0 inset $primary;
  }
  to {
    text-shadow: 0 0 5pt transparent;
    box-shadow: 0 0 20pt 0 inset transparent;
  }
}
