@import 'vars';

#FileUpload {
  position: relative;
  font-size: 1.8rem;
  @media #{$mobile} {
    font-size: 1.15rem;
  }
}

#upload-label {
  top: 50%;
  margin: auto;
  display: block;
  position: absolute;
  border-radius: 1000pt;
  transform: translate(0, -50%);
  cursor: pointer;
  img { width: auto; height: 2.2em; }

  &:hover + .Capsule {
    transition: box-shadow .15s;
    box-shadow: 0 0 25pt 0 $primary;
  }
}
