{
  "extends": ["eslint:recommended", "airbnb-base"],
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "modules": true
    }
  },
  "rules": {
    "no-use-before-define": ["warn", { "functions": false, "classes": true, "variables": true }],
    "comma-dangle": ["warn", "always-multiline"],
    "no-unused-vars": 2,
    "no-param-reassign": "warn",
    "max-len": ["warn", { "code": 90 }],
  }
}
